<%= simple_form_for(@top) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :top1 %>
    <%= f.input :desc1 %>
    <%= f.input :top2 %>
    <%= f.input :desc2 %>
    <%= f.input :top3 %>
    <%= f.input :desc3 %>
    <%= f.input :top4 %>
    <%= f.input :desc4 %>
    <%= f.input :top5 %>
    <%= f.input :desc5 %>
    <%= f.input :ispublic %>
    <%= f.input :iscategory %>
    <%= f.association :user %>
    <%= f.input :sources %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
