<p id="notice"><%= notice %></p>

<p>
  <strong>Top1:</strong>
  <%= @top.top1 %>
</p>

<p>
  <strong>Desc1:</strong>
  <%= @top.desc1 %>
</p>

<p>
  <strong>Top2:</strong>
  <%= @top.top2 %>
</p>

<p>
  <strong>Desc2:</strong>
  <%= @top.desc2 %>
</p>

<p>
  <strong>Top3:</strong>
  <%= @top.top3 %>
</p>

<p>
  <strong>Desc3:</strong>
  <%= @top.desc3 %>
</p>

<p>
  <strong>Top4:</strong>
  <%= @top.top4 %>
</p>

<p>
  <strong>Desc4:</strong>
  <%= @top.desc4 %>
</p>

<p>
  <strong>Top5:</strong>
  <%= @top.top5 %>
</p>

<p>
  <strong>Desc5:</strong>
  <%= @top.desc5 %>
</p>

<p>
  <strong>Ispublic:</strong>
  <%= @top.ispublic %>
</p>

<p>
  <strong>Iscategory:</strong>
  <%= @top.iscategory %>
</p>

<p>
  <strong>User:</strong>
  <%= @top.user %>
</p>

<p>
  <strong>Sources:</strong>
  <%= @top.sources %>
</p>

<%= link_to 'Edit', edit_top_path(@top) %> |
<%= link_to 'Back', tops_path %>
